@media only screen and (min-width: 45.45em) {
  .navigation {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  button {
    display: none;
  }

  #hero_box img {
    margin-bottom: 0;
  }

  #weather_summary {
    position: absolute;
    background-color: rgba(95, 77, 123, 0.85);
    box-shadow: 0px 0px 25px #444444;
    border: none;
  }

  #ws {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
  }

  table {
    width: 90%;
  }

  #article {
    display: flex;
  }

  #article_img {
    max-width: 40vw;
    height: auto;
    float: right;
  }

  #contact_box {
    display: flex;
    flex-direction: row-reverse;
    max-width: 960px;
    margin: 0 auto;
  }

  #contact {
    margin-left: 0;
  }

  .social {
    max-width: 50px;
    height: auto;
  }

  #contact_img {
    max-width: 40vw;
    height: auto;
    margin: 1em;
  }
}
