@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Quicksand:wght@300&display=swap');

html {
    background-color: #ffffff;
}

header,
footer {
    background-color: #47178c;
    border-radius: 25px;
}

body {
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 115%;
    max-width: 960px;
    margin: 0 auto;
    color: #444444;
    padding: 25px;
}

h1,
h2 {
    font-family: 'BIZ UDPMincho', serif;
}

h1 {
    color: #e8eadf;
    font-size: 2.2em;
}

h2 {
    color: #000000;
    font-size: 1.4em;
    border-bottom: 2px solid #444444;
}

li a {
    color: #4d40a3;
    text-decoration: none;
    line-height: 1.5em;
    margin: .1em;
}

li a:hover {
    color: #9ca7c3;
}

header {
    position: relative;
    padding: 1.5em;
}
#hg_box1 {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 75%;
    display: inline-block;
}

#hg_box2 {
    border-radius: 25px;
    box-shadow: 0px 0px 25px #444444;
    float: right;
    max-width: 34vw;
    height: auto;
}

footer {
    color: #e8eadf;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: .2em;
    padding-bottom: 1em;
}

footer a {
    color: #e8eadf;
}

#footer_grid_container {
    text-align: center;
    line-height: 1em;
}

#fg_box1 {
    font-size: .9em;
    color: #9ca7c3;
}